{% extends 'header.html' %}

{% block content %}
{% include 'sidebar.html' %}

{% if user.is_authenticated %}

{% else %}
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <p>Sorry you must be logged in to access this page</p>
                    <a href="{% url 'login' %}"> <h5 class="card-title"> Login</h5></a> 
                </div>
            </div>
        </div>
        {% endif %}
{% endblock content %}